<!-- extends base.html -->
{% extends "base.html" %}
{% block content %}
    <h1> Program Education Objectives (PEO) and Program Outcomes (PO) for Bachelor of Chemical Engineering </h1>

    <h2> Program Education Objectives (PEO) </h2>
    <p> These are just for your information. You <i>do not</i> have to map these in your form. Those are the POs: see further below.</p>
    <table>
        <tr>
            <td valign="top">(a)</td>
            <td>Our graduates are expected to think critically, creatively and apply the fundamentals of Chemical Engineering to chemical and allied industries for the benefit of country in general, economy, society and environment in particular.<td>
        </tr> 
        <tr>
            <td valign="top">(b)</td>
            <td>Our graduates are expected to adopt to evolving technologies and stay in tune with current needs of the country and society </td>    
        </tr>
        <tr>
            <td valign="top">(c)</td>
            <td>Our graduate are expected to work for implementation of new technologies for the benefit of mankind in general, economy, society & environment in particular.</td>
        </tr>
        <tr>
            <td valign="top">(d)</td>
            <td>Our graduates are expected to be innovative and have good entrepreneurship and project management skills.</td>
        </tr>
    </table>

    <h2> Program Outcomes </h2>
    <p> You have to map the course outcomes against <i>these</i>. </p>
    <table>
        <tr>
            <td> ... </td>
            <td><b>Graduate Attribute</b></td>
            <td><b>Program Outcome</b></td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO1:</b></td>
 
            <td valign="top">
                Engineering Knowledge
            </td>
            <td valign="top">
                The graduates will be able to apply knowledge of basic sciences (Mathematics, Physics, Chemistry and Biology) and engineering courses in getting solutions to issues pertaining to chemical and allied industries.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO2:</b></td>

            <td valign="top">
                Problem Analysis
            </td>
            <td valign="top">
                The graduates should be able to systematically break up complex problems in realizable steps and solve them.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO3:</b></td>

            <td valign="top">
                Design and Development of Solutions
            </td>
            <td valign="top">
                The graduates should be able to design a system or a component of a system or provide an engineering solution for a specific task within realistic constraints.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO4:</b></td>

            <td valign="top">
                Investigation of Problem
            </td>
            <td valign="top">
                The graduates will be able to design and conduct experiments as well as analyze and interpret data.  The graduates should be able to systematically break up complex problems in realizable steps and solve them.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO5:</b></td>
            <td valign="top">
                Modern tools usage
            </td>

            <td valign="top">
                The graduate will be able to use modern tools, softwares, equipment etc. to analyze and obtain solution to the problems.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO6:</b></td>
            <td valign="top">
                Engineer and society
            </td>

            <td valign="top">
                The graduates will be able to study the impact of process industry on the global, economic, and societal context.
            </td>
                
            
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO7:</b></td>
            <td valign="top">
                Environment & sustainability
            </td>
                
            <td valign="top">
                The graduates should practice their profession considering environmental protection and sustainability.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO8:</b></td>
            <td valign="top">
                Ethics
            </td>

            <td valign="top">
                Graduates are expected to practice professional skills in an ethical manner 
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO9:</b></td>
            <td valign="top">
                Individual & team work
            </td>

            <td valign="top">
                The graduates should have competence to undertake designated task on individual or team basis as per the requirement.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO10:</b></td>
            <td valign="top">
                Communication
            </td>

            <td valign="top">
                The graduates will be able to communicate effectively their points of view.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO11:</b></td>
            <td valign="top">
                Lifelong learning
            </td>

            <td valign="top">
                The graduates will acquire attitude for life- long learning.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO12:</b></td>
            <td valign="top">
                Project management and finance
            </td>

            <td valign="top">
                The graduates should actively participate in project and financial management.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO13:</b></td>
            <td valign="top">
                Awareness of Trends
            </td>

            <td valign="top">
                Graduates will be acquainted with the latest development in different fields so as to enable them to take up higher studies, research & developmental work.
            </td>
        </tr>
        <tr>
            <td align="right" valign="top"><b>PO14:</b></td>
            <td valign="top">
                Managerial Skills
            </td>

            <td valign="top">
                Graduates will be introduced to managerial subjects, so as to enable them to take up further studies in management subjects & function effectively as managers.
            </td>
        </tr>

    </table>

{% endblock %}