<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1> Upload File for Questionwise Marks </h1>
    <p> Please upload a file named {{uniqueID}}.csv</p>
    <form action="" method="post" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
        <p> <input type=file name="file"
        <p> <input type="submit"  value="Upload"> </p>
    </form>
    <h2> File Format </h2>
    <p> The file format is very exacting.  The file (when opened in Excel) should look like the sample below</p>
    <table>
    <tr>
        <td> ... </td>
        <td bgcolor="#D3D3D3">A</td><td bgcolor="#D3D3D3">B</td><td bgcolor="#D3D3D3">C</td><td bgcolor="#D3D3D3">D</td><td bgcolor="#D3D3D3">E</td><td bgcolor="#D3D3D3">F</td><td bgcolor="#D3D3D3">G</td><td bgcolor="#D3D3D3">H</td><td bgcolor="#D3D3D3">I</td><td bgcolor="#D3D3D3">J</td><td bgcolor="#D3D3D3">K</td><td bgcolor="#D3D3D3">L</td><td bgcolor="#D3D3D3">M</td><td bgcolor="#D3D3D3">N</td><td bgcolor="#D3D3D3">O</td><td bgcolor="#D3D3D3">P</td>
    </tr>
    <tr>
        <td align="right" bgcolor="#D3D3D3">1</td><td>ID</td><td>Q1</td><td>Q2</td><td>Q3</td><td>Q4</td><td>Q5</td><td>Q6</td><td>Q7</td><td>Q8</td><td>Q9</td><td>Q10</td><td>Q11</td><td>Q12</td><td>Q13</td><td>Q14</td><td>Q15</td> 
    </tr>    
    <tr>
        <td align="right" bgcolor="#D3D3D3">2</td><td>max</td><td>10</td><td>5</td><td>5</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td> 
    </tr> 
    <tr>
        <td align="right" bgcolor="#D3D3D3">3</td><td>1</td><td>8</td><td>3</td><td>2</td><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td> 
    </tr>    
    <tr>
        <td align="right" bgcolor="#D3D3D3">4</td><td>2</td><td>7</td><td>2</td><td>2</td><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td> 
    </tr>    
    </table>
    <p><b> NOTE: </b></p>
    <p> Be very sure that all the 'Q' are capitalized and that the 'max' is lowercase </p>
    <p> The first line (beginning with 'max') is the line for maximum marks and will be tallied with the data entered in the form.</p>
    <p> This is to make sure you have uploaded the right file! :) </p>
    
{% endblock %}